.quill 
  .ql-editor
    padding: 16px
    overflow-y: visible
    font-family: var(--chakra-fonts-body)
    line-height: 1.5

    ul, ol
      padding-left: 0

    p, li
      font-size: 16px

html::-webkit-scrollbar
  width: 0

#aline-main-text
  h1, h2, h3
    margin-top: 3em

  p
    margin-top: 1em

  :first-child
    margin-top: 0